<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Library Management" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="g-sidenav-show  bg-gray-100">

    <%= render 'layouts/shared/aside_menu' %>

    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
      <% if notice %>
        <div class="alert alert-success"><%= notice %></div>
      <% elsif alert %>
        <div class="alert alert-danger"><%= alert %></div>
      <% end %>
      <%= render 'layouts/shared/navbar' %>
      <%= yield %>
    </main>
  </body>
</html>
